body {
background: linear-gradient(to right, #CE90B7, #e6e6ff);
}

.hero-image {
    margin-top: 100px;
    position: relative;
    background: url('https://images.unsplash.com/photo-1606859191214-25806e8e2423?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1670&q=80') center/cover no-repeat;
    height: 40vh;
    color: #ffffff;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border-radius: 10px;
    width: 80%;
}

.hero-content h1,
.hero-content p {
    margin: 0;
    padding: 0;
}

.mission-statement {
    padding: 50px 0;
}

